<div class="<%= (classes ? classes.join(' ') : '') %>">
    <% if (post.date) { %>
    <time datetime="<%= post.date.format() %>">
	<% if (post.lang) { %>
		    <%= post.date.locale(post.lang).format(__('date_format')) %>
    	<% } else { %>
		    <%= post.date.locale(page.lang).format(__('date_format')) %>
    	<% } %>
    </time>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <span><%= __('post.categorized_in')  %> </span>
        《<%- partial('category', {categories: post.categories})%>》
    <% } %>
    <% if (!is_home()) { %>
    。
    <span>文章共 <%= wordcount(post.content) %> 字，大约需要阅读 <%= min2read(post.content) %> 分钟。</span>
    <% } %>
    <% } %>
</div>
